<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelsWebApp</title>
    <link rel="stylesheet" href="~/lib/normalize/normalize.css" />
    <link rel="stylesheet" href="~/lib/materialicons/materialicons.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/materialize/materialize.css" />
    <link rel="stylesheet" href="~/lib/materialize/nouislider.css"/>
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- ON MAP ONLY -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
</head>

<body class="@ViewData["Background"] page-container">
  <header>
     @await Component.InvokeAsync("Navbar")
    <!-- Breadcrumb starts here -->
    <div class="breadcrumb-wrapper-kouk breadcrumb-kouk">
      @await Component.InvokeAsync("Breadcrumb")
    </div>
  </div>
  <div class="row"></div>
  <!-- Breadcrumb ends here -->
</header>


    <div class="container page-wrap">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

   @await Component.InvokeAsync("Footer")
   @await Component.InvokeAsync("Scripts")

</body>
</html>
