@* @model HotelsWebApp.Models.Room *@ 


@{
    ViewData["Title"] = "HotelsWebApp";
    ViewData["Background"] = "home";
    ViewData["Page"] = "Index";


    @* IF USER IS LOGGED IN *@
    if(ViewData["LoggedIn"] == "Y"){
    ViewData["Username"] = ViewBag.User.Username;
    ViewData["Email"] = ViewBag.User.Email;
    }



    var data = ViewBag.Room;
}

<!-- MAIN CONTENT -->
<main>
<div class="container box-kouk wrapper">
  <div class="section">
    <div class="row">
      <form>
        <!-- Choose city selector -->
        <div class="input-field col s6">
          <select class="validate" required>
            <option value="" disabled selected>City</option>
            @foreach (var room in data)  
            {
            <option value="@room.City">@room.City</option>
            }  
          </select>
          <label>Choose city</label>
        </div>
        <!-- Room type selector -->
        <div class="input-field col s6 validate">
          <select>
            <option value="" disabled selected>Room Type</option>
            
            @foreach (var type in data)  
            {  
            <option value="@type.RoomType">@type.RoomType</option>
            }  
            
          </select>
          <label>Room type</label>
       </div>
       <!-- From date picker -->
       <div class="col s6">
         <label >From Date:</label>
          <input type="text" class="datepicker validate" required>
        </div>
        <!-- To date picker -->
        <div class="col s6">
          <label >To Date:</label>
          <input type="text" class="datepicker validate" required>    
        </div>
        
        <div class="col s12 center">
          <input class="waves-effect waves-light btn btn-search-kouk" type="submit" value="Find">   
        </div> 
      </form>
    </div>
  </div>
</div>
</main>
<!-- HERE ENDS MAIN CONTENT -->
