@model HotelsWebApp.Models.WdaContext 

@{
    ViewData["Title"] = "HotelsWebApp";
    ViewData["Background"] = "home";
    ViewData["Page"] = "Index";


    @* IF USER IS LOGGED IN *@
    if((string)ViewData["LoggedIn"] == "Y"){
    ViewData["Username"] = (string)ViewBag.User.Username;
    ViewData["Email"] =(string) ViewBag.User.Email;
    }

    var data = ViewBag.Room;
}

<!-- MAIN CONTENT -->
<main>
<div class="container box-kouk wrapper">
  <div class="section">
    <div class="row">
      @await Component.InvokeAsync("Searchbox", Model)
    </div>
  </div>
</div>
</main>
<!-- HERE ENDS MAIN CONTENT -->
