  <footer class="page-footer page-footer1 footer hide-on-small-and-down">
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright
      <a class="grey-text text-lighten-4 right" href="https://www.kouk.gr" target="_blank">kouk.gr</a>
      </div>
    </div>
  </footer>
