      @if((string)ViewData["Breadcrumb"]=="true"){
      <ul class=" container">
        <li>
        <a href="#!" class="breadcrumb">First</a>
      </li>
      <li>
        <a href="#!" class="breadcrumb">Second</a>
      </li>
      <li>  
      <a href="#!" class="breadcrumb">Third</a>
      </li>
      </ul>
      }